<div class="row">
    <div class="col-md-3">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Métrics</h4>
                <p class="category">Temp, Alt, Press</p>
            </div>
            <div class="card-content">
                <img src="/img/nest.png" alt="">
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="card" id="shelfCard">
            <div class="card-header">
                <h4 class="card-title">Plantes</h4>
                <p class="category">Ici la croissance de vos plantes</p>
            </div>
            <div class="content">
                <img src="/img/shelf/shelf.png" id="shelf">

                <div class="col-md-4 divPot placementBorder">
                    <img src="/img/shelf/pot.png" class="pot">
                </div>
                <div class="col-md-4 divPot placementBorder">
                    <img src="/img/shelf/pot.png" class="pot">
                </div>
                <div class="col-md-4 divPot placementBorder">
                    <img src="/img/shelf/pot.png" class="pot">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Accès rapide</h4>
                <p class="category">Options cools</p>
            </div>
            <div class="card-content">
                <div class="row">


                </div>
            </div>
        </div>
    </div>
</div>