<div class="col-md-12">
    <div class="card" id="shelfCard">
        <div class="card-header">
            <h4 class="card-title">Bienvenu(e) dans votre jardin</h4>
            <p class="category">Vous pouvez savoir à quel stade en sont vos plantes</p>
        </div>
        <div class="content">
            <img src="/img/shelf.png" id="shelf">
            <div class="col-md-4 divPot">
                <h3>Menthe</h3>
                <img src="/img/plantStage/1.png" class="pot">
                <button onclick="window.location.href='/Plant/1'" class="btn btn-default btn-fill btn-wd plantButton">Infos</button>
            </div>
            <div class="col-md-4 divPot">
                <h3>Persil</h3>
                <img src="/img/plantStage/3.png" class="pot">
                <button onclick="window.location.href='/Plant/2'" class="btn btn-default btn-fill btn-wd plantButton">Infos</button>
            </div>
            <div class="col-md-4 divPot">
                <h3>Sauge</h3>
                <img src="/img/plantStage/5.png" class="pot">
                <button onclick="window.location.href='/Plant/3'" class="btn btn-default btn-fill btn-wd plantButton">Infos</button>
            </div>
        </div>
    </div>
</div>