<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Led 1</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content" >
				<svg width="350" height="350" viewBox="-2 -2 202 203" shape-rendering="geometricPrecision" style="display: block; margin: auto;">
					<path class="led led1" d="M100,100 v-100 a100,100 1 0,1 86.6025,50" fill="#54ff20"/><text x="135" y="42.5" text-anchor="middle">1</text>
					<path class="led led2" d="M100,100 l86.6025,-50 a100,100 1 0,1 0,100" fill="#fff61a"/><text x="170" y="105" text-anchor="middle">2</text>
					<path class="led led3" d="M100,100 l86.6025,50 a100,100 1 0,1 -86.6025,50" fill="#ff990e"/><text x="135" y="170" text-anchor="middle">3</text>
					<path class="led led4" d="M100,100 v100 a100,100 1 0,1 -86.6025,-50" fill="#ff4b57"/><text x="65" y="170" text-anchor="middle">4</text>
					<path class="led led5" d="M100,100 l-86.6025,50 a100,100 1 0,1 0,-100" fill="#c968ff"/><text x="27.5" y="105" text-anchor="middle">5</text>
					<path class="led led6" d="M100,100 l-86.6025,-50 a100,100 1 0,1 86.0025,-50" fill="#3139ff"/><text x="65" y="42.5" text-anchor="middle">6</text>
					<circle class="led led7" cx="100" cy="100" r="45" fill="#7bc7ff"/><text x="100" y="100" text-anchor="middle">7</text>
				</svg>
				<input class="ledInput led1input" led="led1" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led2input" led="led2" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led3input" led="led3" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led4input" led="led4" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led5input" led="led5" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led6input" led="led6" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led7input" led="led7" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Led 2</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content" id="jewelLed1">
				<svg width="350" height="350" viewBox="-2 -2 202 203" shape-rendering="geometricPrecision" style="display: block; margin: auto;">
					<path class="led led1" d="M100,100 v-100 a100,100 1 0,1 86.6025,50" fill="#54ff20"/><text x="135" y="42.5" text-anchor="middle">1</text>
					<path class="led led2" d="M100,100 l86.6025,-50 a100,100 1 0,1 0,100" fill="#fff61a"/><text x="170" y="105" text-anchor="middle">2</text>
					<path class="led led3" d="M100,100 l86.6025,50 a100,100 1 0,1 -86.6025,50" fill="#ff990e"/><text x="135" y="170" text-anchor="middle">3</text>
					<path class="led led4" d="M100,100 v100 a100,100 1 0,1 -86.6025,-50" fill="#ff4b57"/><text x="65" y="170" text-anchor="middle">4</text>
					<path class="led led5" d="M100,100 l-86.6025,50 a100,100 1 0,1 0,-100" fill="#c968ff"/><text x="27.5" y="105" text-anchor="middle">5</text>
					<path class="led led6" d="M100,100 l-86.6025,-50 a100,100 1 0,1 86.0025,-50" fill="#3139ff"/><text x="65" y="42.5" text-anchor="middle">6</text>
					<circle class="led led7" cx="100" cy="100" r="45" fill="#7bc7ff"/><text x="100" y="100" text-anchor="middle">7</text>
				</svg>
				<input class="ledInput led1input" led="led1" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led2input" led="led2" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led3input" led="led3" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led4input" led="led4" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led5input" led="led5" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led6input" led="led6" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led7input" led="led7" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Led 3</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content">
				<svg width="350" height="350" viewBox="-2 -2 202 203" shape-rendering="geometricPrecision" style="display: block; margin: auto;">
					<path class="led led1" d="M100,100 v-100 a100,100 1 0,1 86.6025,50" fill="#54ff20"/><text x="135" y="42.5" text-anchor="middle">1</text>
					<path class="led led2" d="M100,100 l86.6025,-50 a100,100 1 0,1 0,100" fill="#fff61a"/><text x="170" y="105" text-anchor="middle">2</text>
					<path class="led led3" d="M100,100 l86.6025,50 a100,100 1 0,1 -86.6025,50" fill="#ff990e"/><text x="135" y="170" text-anchor="middle">3</text>
					<path class="led led4" d="M100,100 v100 a100,100 1 0,1 -86.6025,-50" fill="#ff4b57"/><text x="65" y="170" text-anchor="middle">4</text>
					<path class="led led5" d="M100,100 l-86.6025,50 a100,100 1 0,1 0,-100" fill="#c968ff"/><text x="27.5" y="105" text-anchor="middle">5</text>
					<path class="led led6" d="M100,100 l-86.6025,-50 a100,100 1 0,1 86.0025,-50" fill="#3139ff"/><text x="65" y="42.5" text-anchor="middle">6</text>
					<circle class="led led7" cx="100" cy="100" r="45" fill="#7bc7ff"/><text x="100" y="100" text-anchor="middle">7</text>
				</svg>
				<input class="ledInput led1input" led="led1" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led2input" led="led2" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led3input" led="led3" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led4input" led="led4" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led5input" led="led5" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led6input" led="led6" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
				<input class="ledInput led7input" led="led7" type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w"/>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Options</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content">
				<div class="row">
					<div class="col-md-4">
						<img src="/img/center.png" alt="" style="width: 35%;">
					</div>
					<div class="col-md-4">
						<img src="/img/border.png" alt="" style="width: 35%;">
					</div>
					<div class="col-md-4">
						<img src="/img/all.png" alt="" style="width: 35%;">
					</div>
				</div>

				<div class="col-md-6">
					<input type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w">
				</div>
				<div class="col-md-6">
					<input type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w">
				</div>

				<div class="col-md-6">
					<input type="text" data-wheelcolorpicker="" data-wcp-format="rgb" data-wcp-sliders="w">
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Options</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content" id="jewelLed1">

			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Options</h4>
				<p class="category">Free params</p>
			</div>
			<div class="card-content">

			</div>
		</div>
	</div>
</div>