<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Conseils</h2>
            <p class="category">Quelques conseils pour faire les meilleurs choix pour votre TinyGarden</p>
        </div>
        <div class="card-content">
            <h4>Choix des végétaux</h4>
            <p>
                La majorité des aromates sont cultivable sous LED mais certains sont plus compliqués ou plus sensibles que d'autres en terme de flux lumineux ou d'exposition.<br>
                Ces paramètres sont en partie dus à la génétique des végétaux utilisés et en partie dépendants de l’éclairage que vous allez utiliser pour les faire pousser (et plus généralement de l'environnement). Il faut simplement trouver la bonne installation et surtout être patient et attentif.
            </p>
            <div class="alert alert-success alert-with-icon" data-notify="container" style="margin-top: 30px; margin-bottom: 30px;">
                <span data-notify="icon" class="ti-info"></span>
                <span data-notify="message"><b>Notre conseil - </b> Si c'est votre première expérience sous LED, nous vous conseillons d'aborder cette technologie avec des végétaux solides : Basilic, persil et ciboulette.</span>
            </div>
            <h4>La durée d’éclairage</h4>
            <p>
                Les besoins d’éclairage sont définis en fonction du type de jour dont a besoin votre plante. Il existe des plantes de jour long et des plantes de jour court.<br>
            </p>

            <ul>
                <li>Les plantes de <b>jours courts</b> ne fleurissent que si la durée du jour est inférieure à une valeur critique. Si la période d’obscurité est interrompue, il n'y a pas de floraison. Dans ce cas, 12 heures de lumière par jour suffisent pour cultiver cette plante.</li>
                <br>
                <li>Les plantes de <b>jours longs</b> ne fleurissent que si la durée du jour est supérieure à une valeur critique. Si la plante est en jour court et que l’obscurité est interrompue, il y a floraison. Dans ce cas, 14  à 18 heures de lumière par jour sont nécessaires pour cultiver cette plante. Une plante de jour long finit en général par fleurir en jours courts.</li>
                <br>
                <li>Les autres végétaux, aphotopériodiques, n'ont pas de contrainte concernant la durée du jour et son action sur la floraison. Ce sont d'autres événements qui entraînent une floraison.</li>
            </ul>
            <div class="col-md-6">
                <div class="alert alert-warning alert-with-icon" data-notify="container">
                    <span data-notify="icon" class="ti-alert"></span>
                    <span data-notify="message"><b> Attention - </b> Éclairer une plante 24 heures sur 24 ne la fera ni grandir plus vite, ni n'augmentera sa vigueur. Une période de nuit est absolument nécessaire pour que la plante puisse realiser son cycle circadien et suivre des processus importants pour son développement.</span>
                </div>
            </div>
                    

                    </p>


Voici les heures d'éclairage conseillées en fonction des variétés les plus communes :
(Dire de voir dans la page des plantes)

Notre conseil : Si vous ne connaissez pas la durée d’éclairage nécessaire, vous pouvez commencer par une durée de 14 heures et l’augmenter au bout de 15 jours si vous voyez votre plante stagner. Parcourez notre référentiel de végétaux pour obtenir la valeur optimale, si nous la connaissons.


<h4>Le spectre</h4>


<p>

Dans ce domaine, un nombre considérable d'options s'offrent à vous. La ou les couleurs produites par la lumière que vous allez utiliser pour éclairer vos plantes auront un impact direct sur la croissance et la floraison de votre jardin. Soit vous choisissez du matériel à spectre fixe utilisable pour tout le cycle de votre plante soit vous optez pour un panneau dont les couleurs émises sont pilotables, vous les adapterez en fonction de l’évolution de votre jardin.

 

Si vous optez pour un panneau LED sur lequel vous pouvez modifier le spectre à volonté (augmenter ou diminuer la puissance de LED de différentes couleurs ) via des interrupteurs ou une application pour smartphone, vous aurez alors la possibilité d'agir directement sur la manière dont vont pousser vos plantes aromatiques. Vous contrôlerez la vitesse de croissance, la forme des feuilles et même parfois, les composés produits par la plante. Nous avons mis en évidence cette caractéristique de croissance en fonction du spectre dans notre série de test "Game of Clones".

 

Si votre panneau possède un spectre non modifiable, il faudra le choisir avec précautions pour anticiper et satisfaire les besoins futurs de votre jardin. Le spectre choisi devra correspondre au maximum au cycle complet de la plante.

Un mélange de couleurs est bien plus favorable qu'une lumière monochromatique bleue ou rouge par exemple, pour les plantes aromatiques en tout cas. Évitez donc le bleu "pur" type panneau pour aquarium. Les plantes pousseront sans aucun doute, mais beaucoup moins bien qu'avec un mélange de couleurs. Il faudra donc opter pour un mélange de couleurs avec un ratio d'une LED bleue pour 2 ou 3 rouges environ.  Ces chiffres sont indicatifs et chaque végétal à ses propres besoins.

Pour un espace à vivre, utiliser un panneau LED à spectre blanc plutôt chaud est le meilleur moyen d'allier croissance et esthétique. Une température de couleurs entre 3000K et 6000K est conseillée. Si vous n'avez pas de contrainte de ce genre, un spectre floraison classique fera très bien l'affaire.

 

Le spectre optimal d'absorption des chlorophylles A et B est le suivant. Il faut donc se rapprocher au maximum de ces deux courbes pour la meilleure des croissance.

(PHOTO DU SPECTRE)
Notre conseil : Optez par défaut pour un spectre comportant au moins un peu de rouge (autour des 650 nm ou du blanc en dessous de 6000K), c'est une des fréquences les plus représentées dans le spectre du soleil.
            </p>
            
        </div>
        <div class="card-footer">        
        </div>
    </div>
</div>