#shelfCard {
    position: relative;
    height: 750px;
    text-align: center;
}

#shelf {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
}

.divPot {
    height: 600px;
}

.pot {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 12%;
}

.plantButton {
    display: block;
    position: absolute;
    width: 30%;
    left: 35%;    
    bottom: 2.3%;
    margin : auto;
}

/*-----------Plantes-----------*/
.cardPlants {
    height: 750px;
    overflow: auto;
}

/*-----------LEDS-----------*/
.led {
    stroke: #FFFFFF;
    transition: fill 1s;
}

.ledInput {
    position: absolute;
    width: 0px;
    opacity: 0;
    filter:alpha(opacity=0);
}

.led1input {
    top: 10%;
    right: 40%;
}

.led2input {
    top: 40%;
    right: 25%;
}

.led3input {
    bottom: 20%;
    right: 40%;
}

.led4input {
    bottom: 20%;
    left: 20%;
}

.led5input {
    top: 40%;
    left: 15%;
}

.led6input {
    top: 20%;
    left: 20%;
}

.led7input {
    top: 40%;
    left: 40%;
}